body {
  background-color: #222;
}

.Header {
  text-align: center;
  background-image: url("../public/first-clan-war-ever2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 425px;
  padding: 40px;
  color: white;
  }


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.labelStyles {
  width: 100%;
  background-color: #444;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}